.ui.form{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
}

.fields{
  width: 100%;
  font-size: 18px;
  justify-content: left;
  display: flex;
  flex-flow: row wrap;
}

.field{
  width: 100%;
  padding: 5px;
}

.textarea{
  width: 100%;
}

.ui.button{
  justify-content: center;
  width: 100%;
}